// --------------------------------------------------------------
// ----------Beskrivning av sidan--------------------------------
// ----------Denna sida stylar för mobil (och grundstyle)--------
// --------------------------------------------------------------

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(11, 11, 11);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

// Övre delen av sidan

/* header */ 
header {
    height: 10vh;
    background-color: rgba(#ffffff, 0.1);
}

/* hamburgarmenyn */
.hamburger {
    position: fixed;
    top: 10px; 
    right: 10px;
    z-index: 2;
}

header span {
    background-color: #e78ea5;
    border: rgb(77, 76, 76) 1px solid;
    height: 5px;
    width: 35px;
    display: block;
    margin-top: 3px;
    margin-bottom: 2px;
    border-radius: 4em/2em;
}

ul {
    width: 100%;
    height: 80vh;
    text-align: center;
    position: fixed;
    background-color: rgba(5, 5, 5, 0.5);
    margin: 0;
}

li {
    color: #fff;
    list-style-type: none;
    margin: 4%;
    &:hover {
        color: #e78ea5;
        text-decoration: underline;
    }
}

// Mitten av sidan

section {
    width: 100%;
    height: 80vh;
    text-align: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top left, black 70%, white 50%, #e78ea5 50%, #e78ea5 100%);
}

#bigProfileImg {
    border-radius: 50%;
    width: 40%;
    margin-top: 15%;
    max-width: 350px;
    box-shadow: 2px 2px 1px lightgray;
    margin-bottom: 8%;
    &:hover {
        transform: rotateY(180deg);
    }
}

h1 {
    color: white;
    font-size: 1.7rem;
    margin: 0;
}

h2 {
    color: white;
    font-size: 1.3rem;
}

p {
    color: white;
}

// Nedre delen av sidan

footer {
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgba(#fff, 0.1);
}

.contactUl {
    width: 100%;
    display: inline;
    display: flex;
    justify-content: center;
}

.contactLi {
    svg {
        color: #e78ea5;
        transition: 0.15s ease-in-out;
        &:hover {
            border: 1px solid white;
            border-radius: 20%;   
        }
    }  
}

a {
    text-decoration: none;
}