// --------------------------------------------------------------
// ----------Beskrivning av sidan--------------------------------
// ----------Denna sida stylar för skärmar på minst 1500px-------
// --------------------------------------------------------------
@media screen and (min-width: 1500px) {
 
    /* 
    Övre delen av sidan 
    */
    // hamburgermeny
    .hamburger {
        top: 20px; 
        right: 20px;
    }

    /* 
    Mitten av sidan 
    */
    // profilbild svartvit första sidan
    // hur öppen meny visas
    ul {
        padding: 4%;
    }
    
    li {
        margin: 5%;
    }
    
    #bigProfileImg {
        width: 40%;
        max-width: 300px;
        margin-top: 12%;
        margin-left: 17%;
        float: left;
    }

    // headings
    h1 {
        padding-top: 12%;
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    // div Utbildning och Arbetslivserfarenhet
    .divWork,
    .divEducation {
        float: left;
        width: 28%;
        height: 55%;
        h2 {
            font-size: 1.3rem;
        }
    }

    #divSH {
        height: 55%;
    }

    #divJensen, 
    #divDiverse {
        height: 25%;
        margin-bottom: 3%;
        margin-top: 1%;
        padding-top: 0;
    }

    #divJensen {
        margin-top: 0%;
    }
}