// --------------------------------------------------------------
// ----------Beskrivning av sidan--------------------------------
// ----------Denna sida stylar för desktop/från 1200px-----------
// --------------------------------------------------------------
@media screen and (min-width: 1200px) {

    /* 
    Övre delen av sidan 
    */
    .hamburger {
        top: 15px; 
        right: 15px;
    }
    
    header span {
        height: 7px;
        width: 40px;
        display: block;
        margin-top: 5px;
    }

    /* 
    Mitten av sidan 
    */
    // profilbild svartvit första sidan
    #imgBlackAndWhite {
        width: 50%;
        max-width: 250px;
        margin-top: 12%;
        margin-left: 17%;
        float: left;
    }

    #imgMusic {
        width: 50%;
        max-width: 250px;
        margin-top: 12%;
        margin-left: 17%;
        float: left;
    }

    // headings
    h1 {
        padding-top: 13%;
        font-size: 3.2rem;
    }

    #homeH3 {
        margin-top: 3%;
    }

    #homeH4 {
        margin-top: 3%;
    }

    #workH1,
    #educationH1,
    #projectH1,
    #aboutMeH1 {
        padding-top: 2.5%;
        font-size: 2.5rem;
    }

    // div för Utbildning och Arbetslivserfarenhet
    .divWork,
    .divEducation {
        float: left;
        width: 28%;
        min-height: 30%;
        background-color: rgba(#222, 0.65);
        margin: 2.66%;
        border-radius: 20%;
        margin-top: 1%;
        h2 {
            font-size: 1.6rem;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 1%;
        }
        .h2WorkDiverse {
            font-size: 1.2rem;
        }
        p {
            font-size: 1rem;
            margin-left: 8%;
            margin-right: 8%;
        }
    }

    .workSpan {
        font-size: 1.2rem;
    }

    #divJensen, 
    #divDiverse {
        height: 25%;
        margin-top: 0;
        margin-bottom: 2%;
        padding-top: 0;
    }
}