// --------------------------------------------------------------
// -------------Beskrivning av sidan-----------------------------
// -------------Denna sida stylar för tablet---------------------
// --------------------------------------------------------------
@media screen and (min-width: 680px) {

    /* 
    Övre delen av sidan 
    */
    // hamburgermeny
    .hamburger {
        top: 15px; 
        right: 15px;
    }

    header span {
        height: 6px;
        width: 40px;
        display: block;
        margin-top: 5px;
    }
    
    #menuBtn.open .span1 {
        transform: rotate(45deg) translate(8px, 8px);
    }
    
    #menuBtn.open .span3 {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    /* 
    Mitten av sidan 
    */
    // profilbild svartvit första sidan
    #imgBlackAndWhite {
        width: 30%;
        max-width: 250px;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    #imgMusic {
        width: 30%;
        max-width: 250px;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    // Hur öppen meny visas

    li {
        margin: 5%;
    }

    // headings
    h1 {
        padding-top: 2%;
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .workSpan {
        font-size: 1.1rem;
    }

    // profilbild färg sidan Om mig
    #profileImgAboutMe {
        border-radius: 50%;
        float: right;
        width: 30%;
        max-width: 250px;
        box-shadow: 2px 2px 1px #d3d3d3;
    }

    /* 
    Nedre delen av sidan 
    */
    .contactLi {
        margin: 2;
        padding: 0;
    }
}