// --------------------------------------------------------------
// -------------Beskrivning av sidan-----------------------------
// -------------Denna sida stylar för tablet---------------------
// --------------------------------------------------------------
@media screen and (min-width: 680px) {

    /* Mitten av sidan */
    #bigProfileImg {
        width: 30%;
        max-width: 250px;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    h1 {
        padding-top: 2%;
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    /* Öppen meny */
    ul {
        padding: 8%;
    }

    li {
        margin: 5%;
    }

    /* Nedre delen av sidan */
    .contactLi {
        margin: 2;
        padding: 0;
    }
}