// --------------------------------------------------------------
// -------------Beskrivning av sidan-----------------------------
// -------------Denna sida stylar för tablet---------------------
// --------------------------------------------------------------
@media screen and (min-width: 680px) {

    // Övre delen av sidan
    .hamburger {
        top: 15px; 
        right: 15px;
    }

    header span {
        height: 6px;
        width: 40px;
        display: block;
        margin-top: 5px;
    }

    // Mitten av sidan
    #bigProfileImg {
        width: 30%;
        max-width: 250px;
        margin-top: 7%;
        margin-bottom: 5%;
    }

    h1 {
        padding-top: 2%;
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    /* Öppen meny */
    ul {
        padding: 8%;
    }

    li {
        margin: 5%;
    }

    // Nedre delen av sidan
    .contactLi {
        margin: 2;
        padding: 0;
    }

    #profileImgAboutMe {
        border-radius: 50%;
        float: right;
        width: 30%;
        max-width: 250px;
        box-shadow: 2px 2px 1px #d3d3d3;
    }
}